# Build folders
build/
bin/
out/
*.o

# macOS junk
.DS_Store

# GLFW / GLAD build leftovers
*.dll
*.so
*.dylib

#Some cheeky things
.gitignore
.app

# VSCode
.vscode/

# Logs
*.log

# Executables
a.out
*.exe
